#ctftable {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#ctftable td,
#ctftable th {
  padding: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-header {
  background-color: #2d2d2d;
  color: #c4c4c4;
  height: 10px;
}
.ctftablellist-time {
  color: #39903c;
  margin-top: 5px;
  font-size: 14px;
  margin-left: -60px;
}
.ctftablelist-score-icon-light {
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  opacity: 0.5;
}
.ctftablelist-score-icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  opacity: 1;
}
@media screen and (max-width: 650px) {
  #ctftable td,
  #ctftable th {
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 8px;
  }
  .ctftablellist-time {
    font-size: 8px;
  }
}
