#leaderboard {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#leaderboard td,
#leaderboard th {
  padding: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.extendedtable-label {
  background-color: #2d2d2d;
  color: #c4c4c4;
}

@media screen and (max-width: 650px) {
  #leaderboard td,
  #leaderboard th {
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 8px;
  }
}
